@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #ca8a04;
}

@font-face {
  font-family: "BubbleFont";
  src: url("/fonts/bubble-font.ttf");
}

.bubble-font {
  font-family: "BubbleFont", sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .fullVh.fullSvh {
    @apply min-h-[100vh] min-h-[100svh];
  }
  .myContainer {
    @apply lg:w-[91.6666666667vw] w-[90.699%] mx-[auto];
  }
  .py1 {
    @apply lg:py-[11.4583333333vw] sm:py-[120px] py-[75px];
  }
  .border20 {
    @apply lg:rounded-[1.04166666667vw] rounded-[20px];
  }
  .text64 {
    @apply lg:text-[3.33333333333vw] lg:leading-[3.95833333333vw] sm:text-[50px] sm:leading-[60px]
    text-[7.44186046512vw] leading-[42px] capitalize font-[600];
  }
  .text40 {
    @apply lg:text-[2.08333333333vw] lg:leading-[2.60416666667vw] sm:text-[30px] sm:leading-[40px]
    text-[25px] leading-[35px] capitalize;
  }
  .text50 {
    @apply lg:text-[2.60416666667vw] lg:leading-[3.125vw] sm:text-[40px] sm:leading-[50px]
    text-[32px] leading-[42px] capitalize font-medium;
  }
  .text60 {
    @apply lg:text-[3.125vw] lg:leading-[3.64583333333vw] sm:text-[50px] sm:leading-[60px]
    text-[32px] leading-[42px] capitalize font-semibold;
  }
  .text24 {
    @apply lg:text-[1.25vw] lg:leading-[1.77083333333vw];
  }
  .mtext18 {
    @apply sm:text-[20px] sm:leading-[30px] text-[18px] leading-[25px];
  }
  .mt30 {
    @apply lg:mt-[1.5625vw] sm:mt-[22px] mt-[16px];
  }
}
.search-overlay {
  animation: search-fade 250ms linear forwards;
  animation-delay: 300ms;
}
@keyframes search-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  body.active {
    height: 100svh;
    overflow: hidden;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 500s linear infinite;
}
 
